In [56]:
import pandas as pd
import numpy as np
import os

In [57]:
datasets_path = "../datasets/"


reservas_futuras = pd.read_csv(datasets_path+'reservas_futuras.csv')
transacoes = pd.read_csv(datasets_path+'transacoes.csv')
cancelados = pd.read_csv(datasets_path+'cancelados.csv')
faltantes = pd.read_csv(datasets_path+'faltantes.csv')

Vimos na análise dos dados que há interseções entre as tabelas de transações, cancelados e faltantes. Entretanto, suspeitamos que essas tabelas deveriam ser mutuamente exclusivas, de tal forma que não deveria haver interseções entre elas.

Vamos tomar a seguinte estratégia para lidar com esse problema:

* Todas as interseções de cancelados e faltantes com transações serão removidos, deixando as instâncias somente na tabela transações. Isso pois se o cliente está na tabela de transações significa que ele recebeu o serviço, portanto, não cancelou e nem faltou.

* Os clientes que estão na interseção de cancelados e faltantes serão removidos da tabela de faltantes e mantidos na tabela de cancelados. Se o cliente está na lista de cancelados, significa que ele cancelou e, portanto, não faltou.

Criando flags para auxiliar na remoção das instâncias

In [58]:
transacoes.shape , cancelados.shape , faltantes.shape

((1862, 13), (240, 7), (59, 4))

In [59]:
cancelados['to_remove'] = cancelados.index
faltantes['to_remove'] = faltantes.index

In [89]:
remove = pd.merge(left = cancelados[['Booking Date','Code','to_remove']], 
               right = transacoes[['Date','Client']],
               left_on = ['Code','Booking Date'], 
               right_on=['Client','Date'],
               how='inner',
               indicator=True).drop_duplicated()['to_remove'].to_list()


idx = cancelados[cancelados['to_remove'].apply(lambda x: x in remove)].index

print(f"Quantidade de interseções entre cancelados e transacoes: {len(idx)}")

#cancelados = cancelados.drop(idx)

AttributeError: 'DataFrame' object has no attribute 'drop_duplicated'

In [68]:
idx.size

56

In [74]:
remove

[2,
 4,
 7,
 9,
 12,
 12,
 12,
 12,
 12,
 13,
 13,
 13,
 13,
 13,
 18,
 18,
 19,
 20,
 20,
 20,
 30,
 38,
 54,
 62,
 62,
 68,
 69,
 70,
 71,
 77,
 77,
 77,
 77,
 80,
 80,
 82,
 85,
 86,
 94,
 97,
 101,
 101,
 101,
 109,
 109,
 115,
 119,
 126,
 127,
 130,
 130,
 131,
 131,
 137,
 137,
 139,
 141,
 147,
 152,
 152,
 157,
 158,
 159,
 165,
 177,
 195,
 197,
 198,
 201,
 209,
 215,
 216,
 217,
 219,
 227,
 231,
 236,
 237,
 237,
 237,
 238]

In [88]:
 pd.merge(left = cancelados[['Booking Date','Code','to_remove']], 
               right = transacoes[['Date','Client']],
               left_on = ['Code','Booking Date'], 
               right_on=['Client','Date'],
               how='inner',
               indicator=True).duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
76    False
77    False
78     True
79     True
80    False
Length: 81, dtype: bool

In [86]:
 pd.merge(left = cancelados[['Booking Date','Code','to_remove']], 
               right = transacoes[['Date','Client']],
               left_on = ['Code','Booking Date'], 
               right_on=['Client','Date'],
               how='inner',
               indicator=True).loc[0:20,:]

   Booking Date    Code  to_remove        Date  Client _merge
0    2018-07-10  MASA01          2  2018-07-10  MASA01   both
1    2018-07-24  TRUA01          4  2018-07-24  TRUA01   both
2    2018-07-21    ?A01          7  2018-07-21    ?A01   both
3    2018-04-04  SARA01          9  2018-04-04  SARA01   both
4    2018-06-30  TAMA01         12  2018-06-30  TAMA01   both
5    2018-06-30  TAMA01         12  2018-06-30  TAMA01   both
6    2018-06-30  TAMA01         12  2018-06-30  TAMA01   both
7    2018-06-30  TAMA01         12  2018-06-30  TAMA01   both
8    2018-06-30  TAMA01         12  2018-06-30  TAMA01   both
9    2018-06-30  TAMA01         13  2018-06-30  TAMA01   both
10   2018-06-30  TAMA01         13  2018-06-30  TAMA01   both
11   2018-06-30  TAMA01         13  2018-06-30  TAMA01   both
12   2018-06-30  TAMA01         13  2018-06-30  TAMA01   both
13   2018-06-30  TAMA01         13  2018-06-30  TAMA01   both
14   2018-07-12  JACA01         18  2018-07-12  JACA01   both
15   2018-07-12  JACA01         18  2018-07-12  JACA01   both
16   2018-07-26  GOOA02         19  2018-07-26  GOOA02   both
17   2018-05-31  PAUB01         20  2018-05-31  PAUB01   both
18   2018-05-31  PAUB01         20  2018-05-31  PAUB01   both
19   2018-05-31  PAUB01         20  2018-05-31  PAUB01   both
20   2018-04-26  MOIB01         30  2018-04-26  MOIB01   both

In [71]:
cancelados['to_remove'].apply(lambda x: x in remove)

0      False
1      False
2       True
3      False
4       True
       ...
235    False
236     True
237     True
238     True
239    False
Name: to_remove, Length: 240, dtype: bool